<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>controller.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPageController</servlet-name>
        <servlet-class>controller.LoginPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchController</servlet-name>
        <servlet-class>controller.AdminSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateController</servlet-name>
        <servlet-class>controller.AdminUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteController</servlet-name>
        <servlet-class>controller.AdminDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreatePageController</servlet-name>
        <servlet-class>controller.AdminCreatePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateController</servlet-name>
        <servlet-class>controller.AdminCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTakeTestPageController</servlet-name>
        <servlet-class>controller.UserTakeTestPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTakeTestController</servlet-name>
        <servlet-class>controller.UserTakeTestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToTestController</servlet-name>
        <servlet-class>controller.ToTestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndController</servlet-name>
        <servlet-class>controller.EndController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserPageController</servlet-name>
        <servlet-class>controller.CreateUserPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>controller.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiTaskController</servlet-name>
        <servlet-class>controller.MultiTaskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestReportController</servlet-name>
        <servlet-class>controller.TestReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDetailController</servlet-name>
        <servlet-class>controller.HistoryDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryUpdateController</servlet-name>
        <servlet-class>controller.HistoryUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>controller.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateSubjectController</servlet-name>
        <servlet-class>controller.AdminCreateSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectCreatePageController</servlet-name>
        <servlet-class>controller.SubjectCreatePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiSubjectController</servlet-name>
        <servlet-class>controller.MultiSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteSubController</servlet-name>
        <servlet-class>controller.AdminDeleteSubController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateSubController</servlet-name>
        <servlet-class>controller.AdminUpdateSubController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPageController</servlet-name>
        <url-pattern>/LoginPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchController</servlet-name>
        <url-pattern>/AdminSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateController</servlet-name>
        <url-pattern>/AdminUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteController</servlet-name>
        <url-pattern>/AdminDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreatePageController</servlet-name>
        <url-pattern>/AdminCreatePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateController</servlet-name>
        <url-pattern>/AdminCreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTakeTestPageController</servlet-name>
        <url-pattern>/UserTakeTestPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTakeTestController</servlet-name>
        <url-pattern>/UserTakeTestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToTestController</servlet-name>
        <url-pattern>/ToTestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndController</servlet-name>
        <url-pattern>/EndController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserPageController</servlet-name>
        <url-pattern>/CreateUserPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/ErrorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiTaskController</servlet-name>
        <url-pattern>/MultiTaskController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestReportController</servlet-name>
        <url-pattern>/TestReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDetailController</servlet-name>
        <url-pattern>/HistoryDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryUpdateController</servlet-name>
        <url-pattern>/HistoryUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/SubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateSubjectController</servlet-name>
        <url-pattern>/AdminCreateSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectCreatePageController</servlet-name>
        <url-pattern>/SubjectCreatePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiSubjectController</servlet-name>
        <url-pattern>/MultiSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteSubController</servlet-name>
        <url-pattern>/AdminDeleteSubController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateSubController</servlet-name>
        <url-pattern>/AdminUpdateSubController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginPageController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>dbCon</description>
        <res-ref-name>dbCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>filter.NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>controller.ContextListener</listener-class>
    </listener>
</web-app>
