<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderController</servlet-name>
        <servlet-class>controller.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityController</servlet-name>
        <servlet-class>controller.UpdateQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateItemController</servlet-name>
        <servlet-class>controller.CreateItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateItemPageController</servlet-name>
        <servlet-class>controller.CreateItemPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <servlet-class>controller.LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderController</servlet-name>
        <servlet-class>controller.ViewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemDetailController</servlet-name>
        <servlet-class>controller.ItemDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemController</servlet-name>
        <servlet-class>controller.UpdateItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemController</servlet-name>
        <servlet-class>controller.DeleteItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHistoryController</servlet-name>
        <servlet-class>controller.AdminHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHistoryController</servlet-name>
        <servlet-class>controller.UserHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHistoryDetailController</servlet-name>
        <servlet-class>controller.UserHistoryDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSelectedController</servlet-name>
        <servlet-class>controller.DeleteSelectedController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/DeleteOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderController</servlet-name>
        <url-pattern>/ConfirmOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityController</servlet-name>
        <url-pattern>/UpdateQuantityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateItemController</servlet-name>
        <url-pattern>/CreateItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateItemPageController</servlet-name>
        <url-pattern>/CreateItemPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/LoginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderController</servlet-name>
        <url-pattern>/ViewOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemDetailController</servlet-name>
        <url-pattern>/ItemDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemController</servlet-name>
        <url-pattern>/UpdateItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemController</servlet-name>
        <url-pattern>/DeleteItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHistoryController</servlet-name>
        <url-pattern>/AdminHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHistoryController</servlet-name>
        <url-pattern>/UserHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHistoryDetailController</servlet-name>
        <url-pattern>/UserHistoryDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSelectedController</servlet-name>
        <url-pattern>/DeleteSelectedController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>dbCon</description>
        <res-ref-name>dbCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <listener-class>controller.ContextListener</listener-class>
    </listener>
    <error-page>
        <error-code>404</error-code>
        <location>/portlets/error2.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/portlets/error2.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>Default Portlet Security Constraints</display-name>
        <web-resource-collection>
            <web-resource-name>Portlet Directory</web-resource-name>
            <url-pattern>/portlets/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
